 #one
{
    color: red;
}
#two
{
    color: green;
}#three
{
    color: yellow;
}#four
{
    color: purple;
}#five
{
    color: lightcyan;
}#six
{
    color: greenyellow;
}#seven
{
    color: indigo;
}#eight
{
    color: gold;
}#nine
{
    color: indianred;
}
#ten
{
    color:lightcoral;
}